<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="dayForce Test Suite">

    <test name="dayForce Tests">
        <classes>
            <class name="dayForceTests.LoginPageTests"/>
            <class name="dayForceTests.HomePageTests"/>
            <class name="dayForceTests.timeSchedulesAutomation.TimeScheduleTests"/>

            <!-- Add more test classes as needed -->
        </classes>
    </test>
</suite>